.recentSection {
  margin-top: 15px;
}

p.see {
  color: #03a87c;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  font-size: 0.8rem;
  text-align: start;
  cursor: pointer;
  padding: 1rem 0rem;
  margin-bottom: 2rem;
}
.rowGeneral {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.cardGeneral {
  width: 100%;
}
.middleSection {
  width: 100%;
}
.asidecol {
  display: none;
  margin-left: 4rem;
}

.asidecol h2 {
  margin-bottom: 3rem;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  text-align: start;
  cursor: pointer;
  padding: 1rem 0rem;
  margin-bottom: 2rem;
}

.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
}

.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* .make-Nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
}

.sidebarNav-item {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
} */

@media only screen and (min-width: 1024px) {
  p.see {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    text-align: end;
    font-size: 0.9rem;
  }
  .cardGeneral {
    width: 60%;
  }
  .middleSection {
    width: 40%;
  }
  .asidecol {
    display: inline;
    width: 40%;
    padding-left: 7%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .footerhome {
    word-spacing: 5px;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    padding-top: 20px;
    width: 85%;
    background-color: transparent;
    color: #7d7878;
    border-top: 1px solid #dfddddd2;
    font-size: 0.9rem;
  }
}
