.card-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
  position: relative;
}

.cardImg {
  width: 80px;
  height: 80px;
  object-fit: cover;

  position: relative;

  margin-top: 0;
}
.author {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.84);
}
.description {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8rem;
  overflow: hidden;
  max-height: 40px;
  text-overflow: ellipsis;
}

.title__item {
  color: rgba(0, 0, 0, 0.84);
  margin-top: 0px;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  max-height: 84px;
  text-overflow: ellipsis;
  margin-bottom: 2em;
}
.iconos-author {
  display: flex;
  justify-content: space-between;
}
.ellipsis {
  display: flex;
  flex-direction: column;
}
.left {
  width: 75%;
  text-align: left;
  margin-left: 0px;
}
svg {
  font-size: 12px;
}
.disappear-desk {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .card-container {
    flex-direction: row;
    /* width: 40%; */
  }
  .cardImg {
    width: 100px;
    height: 100px;
  }

  .disappear-desk {
    display: none;
  }
  .left {
    width: 75%;
    text-align: left;
    margin-left: 15px;
  }
}
