.card-container {
  display: flex;
  margin: 1rem;
  margin-left: 1rem;
  margin-bottom: 24px;
  width: 60%;
  position: relative;
}

.cardImg {
  margin-right: 1rem !important;
  position: relative;
  right: 20px;
  margin-top: 0;
}

.description {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  overflow: hidden !important;
  max-height: 40px !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
}

.title__item {
  margin-top: 0px;
  overflow: hidden !important;
  max-height: 84px !important;
  text-overflow: ellipsis !important;
  margin-bottom: 2.5em;
  font-size: 1.3rem;
  max-height: 50px;
  padding: 0px;
  font-weight: 700;
  cursor: pointer;
}

.left {
  text-align: left;
}

.imgCard {
  display: block;
  line-height: 20px;
  height: 100%;
  width: 152px;
  margin-right: 2rem;
}
