.list-scroll {
  font-size: small;
  margin: 5px;
  list-style: none;
  white-space: nowrap;
  color: #6c757d;
}

.list-scroll li {
  margin-right: 25px;
  display: inline-block;
}

.list-scroll li a {
  color: #6c757d;
}

.list-scroll li a:hover {
  color: black;
}
