.NavBarSticky {
  height: 100%;
  font-size: 14px;
  margin: 0px;
  list-style: none;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  max-height: 45px;
}

.MenuItem {
  margin: -5px 10px;
  padding: 0 20px;
  user-select 
}
.MenuItem a {
  color: #6c757d;
  text-decoration-line: none;
  padding: 0%;
  display: flex;
  justify-content: flex-start;
}

.arrow-prev {
}
