.NavBarSticky {
  width: 90vw;
  font-size: 14px;
  margin: 0px;
  list-style: none;
  padding: 0px;
  display: inline-block;
}

.liItem {
  width: 150px;
  margin: 0px;
  padding: 0px;
}
.liItem a {
  color: #6c757d;
}
